.banner {
  width: 100%;
  height: 80vh;
  filter: brightness(60%);
}
.registration{
  height: 30%;
  margin: auto;
  background-color: deepskyblue;
}
.student img{
  width: 50px;
}

@media screen and (max-width: 990px) {
  .learning p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .logo{
    display: none;
  }
  .registration {
    height: 38%;
    margin:10px;
  }
 
}

